.DS_Store
ProjectStatsApp.xcodeproj/project.xcworkspace/xcuserdata/niklas.xcuserdatad/UserInterfaceState.xcuserstate
ProjectStatsApp.xcodeproj/xcuserdata/niklas.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist